.bgfoter{

    background-image: url(../src/assets/footerbg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.b1{

    background-image: url(../src/assets/b1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.blog{

    background-image: url(../src/assets/blogheaderbg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog2{

    background-image: url(../src/assets/subscribe.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.newsbg{

    background-image: url(../src/assets/newsletter.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.newsbgr{

    background-image: url(../src/assets/services.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient{

    background: rgb(192,216,229);
background: linear-gradient(120deg, rgba(192,216,229,1) 32%, rgba(240,240,240,1) 79%);
}

.bggr1{

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 54%, rgba(255,255,255,0.11528361344537819) 97%);
}